body{
    background-color: #282727;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title{
    text-align: center;
    color: rgb(238, 144, 3);
    font-weight: 400;
}
#display{
    width: 500px;
    height: 200px;
    background-color: #3a3a3a;
    border: 2px solid #504e4e;
    border-radius: 30px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    font-size: 40px;
    color: white;
}
#box2{
    width: 500px;
    height: 600px;
    background-color: #3a3a3a;
    border: 2px solid #504e4e;
    border-radius: 30px;
    margin: 5px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    justify-content: space-evenly;     
}

#box3 {
    width: 120px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;  
    
}

#box, #box4, #box5 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box { background-color: #989898; }
#box4 { background-color: #616060; }
#box5 { background-color: rgb(238, 144, 3);}

input[type="button"] {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent; 
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

}
input[type="button"]:hover {
    opacity: 50;
    transform: scale(1.5);
}

@media (max-width: 600px) {
  #display {
    width: 90%;
    height: 100px;
    font-size: 28px;
    margin: 10px auto;
  }

  #box2 {
    width: 95%;
    flex-direction: row;
    height: auto;
    padding: 10px 0;
  }

  #box3 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  #box, #box4, #box5 {
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 50%;
  }

  input[type="button"] {
    font-size: 20px;
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }
}
